body {  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff; }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: #E8E8E8;
  display: table; }

#container {
    width: 1024px;
    margin: 0 auto;
    border: 2px #EEE solid;
    min-height: 620px; }